{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h1>Sign Up</h1>

<form action="/accounts/register" method="POST">
    <p>
        <label for="name">Your Name:</label>
        <input type="text" name="name" value="{{ form.name.value }}">
        {% if errors and errors is containing("name") %}
        {% for e in errors["name"] %}
            <span>{{ e["message"] }}</span>
        {% endfor %}
        {% endif %}
    </p>
    <p>
        <label for="email">Email:</label>
        <input name="email" type="email" value="{{ form.email.value }}">
        {% if errors and errors is containing("email") %}
        {% for e in errors["email"] %}
            <span>{{ e["message"] }}</span>
        {% endfor %}
        {% endif %}
    </p>
    <p>
        <label for="password">Password:</label>
        <input name="password" type="password">
        {% if errors and errors is containing("password") %}
        {% for e in errors["password"] %}
            <span>{{ e["message"] }}</span>
        {% endfor %}
        {% endif %}
    </p>

    <button type="submit">Create Account</button>
</form>
{% endblock %}
