{% extends "layout.html" %}

{% block title %}Login with {{ form.provider | title }}{% endblock %}

{% block content %}
<h1>Login with {{ form.provider | title }}</h1>

<form action="/oauth/login/" method="POST" id="loginform">
    {% if error %}
    <ul>
        <li>&#9432;&nbsp; {{ error }}</li>
    </ul>
    {% endif %}

    <p>
        <label for="email">Email:</label>
        <input name="email" type="email" value="{{ form.email.value }}">
    </p>

    <input name="provider" type="hidden" value="{{ form.provider }}">
    <button type="submit">Login with {{ form.provider | title }}</button>
</form>
{% endblock %}
